.header{
    background-color: aquamarine;
}
.head{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.admin-logo{
    font-size: 1.8rem;
}

.admin-ul{
    display: flex;
    gap: 30px;
}

.admin-a{
    font-size: 20px;
    color: black;
}